body{
background-color: white;
background-position: center;
}
.ita{
  font-style:  Georgia;
}
.sub{
  width: 100px;
  background-color:skyblue;
  font-size: 12px;
  font-weight: bold;
  font-family: cursive;
  top: 0px;
  color: white;


}
.login{
  color: white;
  width: 100px;
  background-color: skyblue;
  font-size: 12px;
  font-weight: bold;
  font-family: cursive;
  top:0px;


}

#nav-bar{

background-color:grey ;
position: fixed;
top: 0;
height: 55px;
width: 100%;
display: inline;
}

.icon{
  float: left;
}


#dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}





article {
  padding-left: 100px;
  padding-right:100px;
  float: center;
  padding: 20px;
  width: 70%;
  background-color: white;
  height: 300px;
}

/* Clear floats after the columns */
section:after {
  padding-top: 70px;
  content: "";
  display: table;
  clear: both;
  padding-left: 100px;
  padding-right:100px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
