body{
background-color: white;
background-position: center;
}

.sub{
height: auto;
  background-color:rgb(88,139,174);
  font-size: 12px;
  font-weight: bold;
  font-family: serif;
  margin-top:0px;
  color: white;


}
.login{

  color: white;
  background-color: rgb(88,139,174);
  font-size: 12px;
  font-weight: bold;
  font-family: serif;
  top:0px;

}
.try{
  margin-top: 0;
border-top: 0px;
  float:right;
}

.firstButton{
  background-color: white;

}
.secondButton{
  background-color: white;

}
.cent{
  margin: 0 auto;
  padding-left: 500px;
}
.fnt{
  font-family: monospace;
  font-size: 20px;
  font-weight: bolder;
}
#nav-bar{
background-color:white ;
position: fixed;
height: 10px;
width: 100%;
display:flex ;
}

.footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
